.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.nav__gnf5F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-a1Cc_ThJYsBt);
  min-width: 0;
  padding: 10px;
}
.text___3AwbE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-KNdRHYv5_nkI);
  min-width: 0;
}
.nav__oiN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 2px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__xuxPq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: radial-gradient(
        ellipse 40% 60% at 20% 20%,
        #02145e7d 0%,
        #09578edb 100%
      )
      0% 0% / 100% 100% repeat,
    url("/plasmic/return_policy/images/_202207081Jpg.jpg") top 2.73% right -54% / cover no-repeat scroll;
  min-width: 0;
  padding: 8px;
}
.freeBox__i5PwQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-VqPv_2huKTXf);
  min-width: 0;
  padding: 210px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i5PwQ {
    height: auto;
    padding-bottom: 48px;
    padding-top: 20px;
  }
}
.columns___8QeNv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___8QeNv > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8QeNv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8QeNv > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__c1T0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__sowug {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 549px;
  background: none;
  align-self: flex-end;
  margin-left: 55px;
  min-width: 0;
  padding: 30px 30px 30px 0px;
}
.freeBox__sowug > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__sowug > :global(.__wab_flex-container) > *,
.freeBox__sowug > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sowug > :global(.__wab_flex-container) > picture > img,
.freeBox__sowug
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sowug {
    max-width: 336px;
    width: 100%;
    min-width: 0;
    padding: 24px 0px 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sowug > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 541px;
  color: var(--token-KNdRHYv5_nkI);
  padding-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 44px;
  }
}
.text__kYvA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 997px;
  color: var(--token-KNdRHYv5_nkI);
  min-width: 0;
}
.section__m2UBs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 70px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__m2UBs {
    padding-top: 36px;
    padding-bottom: 38px;
  }
}
.freeBox__jYRqJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-VqPv_2huKTXf);
  min-width: 0;
  padding: 8px;
}
.freeBox__jYRqJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jYRqJ > :global(.__wab_flex-container) > *,
.freeBox__jYRqJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jYRqJ > :global(.__wab_flex-container) > picture > img,
.freeBox__jYRqJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__gp0Id {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  text-align: center;
  color: #02145e;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__gp0Id {
    padding-top: 0px;
  }
}
.text___08HBj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  text-align: center;
  min-width: 0;
}
.section___1Lg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#205bb2d6, #205bb2d6),
    url("/plasmic/return_policy/images/cashier1036976640Png.png") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 0px;
}
.freeBox__wX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__wX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wX > :global(.__wab_flex-container) > *,
.freeBox__wX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wX > :global(.__wab_flex-container) > picture > img,
.freeBox__wX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.columns__hcqG9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__hcqG9 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 45px);
  width: calc(100% + 45px);
  --plsmc-rc-col-gap: 45px;
}
.columns__hcqG9 > :global(.__wab_flex-container) > *,
.columns__hcqG9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hcqG9 > :global(.__wab_flex-container) > picture > img,
.columns__hcqG9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 45px;
}
.columns__hcqG9 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__hcqG9 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hcqG9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hcqG9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hcqG9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__r7Bd7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___1FOlq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img___1FOlq > picture > img {
  object-fit: cover;
}
.column__sWLtm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__qCxeP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-VqPv_2huKTXf);
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__qCxeP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qCxeP > :global(.__wab_flex-container) > *,
.freeBox__qCxeP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qCxeP > :global(.__wab_flex-container) > picture > img,
.freeBox__qCxeP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qCxeP {
    padding: 20px;
  }
}
.h2__xsokk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-KNdRHYv5_nkI);
  margin-bottom: 45px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__xsokk {
    font-size: 35px;
  }
}
.text__tlAvg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  color: var(--token-KNdRHYv5_nkI);
  min-width: 0;
}
.button__zXz43:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
}
.svg__hePqw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y8Eyq {
  text-align: center;
}
.svg__lBa0Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__uvSVe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(84deg, #205bb2 0%, #56b9ff42 100%) 0% 0% / 100%
      100% repeat,
    url("/plasmic/return_policy/images/_20230111Jpg.jpg") left 22% top 52.86% / cover repeat scroll;
  min-width: 0;
  padding: 150px 23px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__uvSVe {
    padding-top: 44px;
    padding-bottom: 37px;
    background: linear-gradient(0deg, #096dbf 0%, #56b9ffab 100%) 0% 0% / 100%
        100% repeat,
      url("/plasmic/return_policy/images/_20230111Jpg.jpg") top 50% left 50% / cover repeat;
  }
}
.freeBox__swJfD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-VqPv_2huKTXf);
  min-width: 0;
  padding: 8px;
}
.freeBox__swJfD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 29px);
  height: calc(100% + 29px);
}
.freeBox__swJfD > :global(.__wab_flex-container) > *,
.freeBox__swJfD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__swJfD > :global(.__wab_flex-container) > picture > img,
.freeBox__swJfD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 29px;
}
.freeBox___8MVw9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 631px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___8MVw9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___8MVw9 > :global(.__wab_flex-container) > *,
.freeBox___8MVw9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8MVw9 > :global(.__wab_flex-container) > picture > img,
.freeBox___8MVw9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__e5Rau {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  text-align: left;
  color: var(--token-KNdRHYv5_nkI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__e5Rau {
    font-size: 35px;
    color: var(--token-KNdRHYv5_nkI);
  }
}
.text__hNetg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: var(--token-KNdRHYv5_nkI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hNetg {
    color: var(--token-KNdRHYv5_nkI);
  }
}
.button__tPQaK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mxp8U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__efnz2 {
  color: var(--token-KNdRHYv5_nkI);
  height: auto;
}
.svg__kdE3S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__kq4C1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#0908088f, #0908088f),
    url("/plasmic/return_policy/images/_20231216Jpg.jpg") top 50% left 50% / cover no-repeat local;
  min-width: 0;
  padding: 70px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kq4C1 {
    padding-top: 50px;
    padding-bottom: 56px;
  }
}
.freeBox__xnQhg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-VqPv_2huKTXf);
  min-width: 0;
  padding: 8px;
}
.freeBox__xnQhg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 11px);
  height: calc(100% + 11px);
}
.freeBox__xnQhg > :global(.__wab_flex-container) > *,
.freeBox__xnQhg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xnQhg > :global(.__wab_flex-container) > picture > img,
.freeBox__xnQhg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 11px;
}
.h2__y03R2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-KNdRHYv5_nkI);
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__y03R2 {
    font-size: 35px;
  }
}
.text___4Drgl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  color: var(--token-KNdRHYv5_nkI);
  text-align: center;
  min-width: 0;
}
.freeBox__f6LsW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 430px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__eAtgH {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
.freeBox__eAtgH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eAtgH > :global(.__wab_flex-container) > *,
.freeBox__eAtgH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eAtgH > :global(.__wab_flex-container) > picture > img,
.freeBox__eAtgH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__e7TtP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2OdRi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gMTp4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8JiYo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ekcrF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hlzJu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eNfWz {
  color: var(--token-KNdRHYv5_nkI);
}
.svg__eg8F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iun5W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: #000000;
  min-width: 0;
  padding: 64px 0px 2px;
}
.freeBox__iun5W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.freeBox__iun5W > :global(.__wab_flex-container) > *,
.freeBox__iun5W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iun5W > :global(.__wab_flex-container) > picture > img,
.freeBox__iun5W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
.freeBox__tejcP {
  display: flex;
  position: relative;
  max-width: var(--token-VqPv_2huKTXf);
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px 30px;
}
.freeBox__tejcP > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__tejcP > :global(.__wab_flex-container) > *,
.freeBox__tejcP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tejcP > :global(.__wab_flex-container) > picture > img,
.freeBox__tejcP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tejcP {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tejcP > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tejcP > :global(.__wab_flex-container) > *,
  .freeBox__tejcP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tejcP > :global(.__wab_flex-container) > picture > img,
  .freeBox__tejcP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__zepwg {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__zepwg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.freeBox__zepwg > :global(.__wab_flex-container) > *,
.freeBox__zepwg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zepwg > :global(.__wab_flex-container) > picture > img,
.freeBox__zepwg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.img__d05G {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 61px;
  flex-shrink: 0;
}
.img__d05G > picture > img {
  object-fit: contain;
}
.freeBox__nQiSo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nQiSo > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nQiSo > :global(.__wab_flex-container) > *,
.freeBox__nQiSo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nQiSo > :global(.__wab_flex-container) > picture > img,
.freeBox__nQiSo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__lHo2B {
  color: var(--token-KNdRHYv5_nkI);
}
.freeBox__b1OL {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__b1OL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b1OL > :global(.__wab_flex-container) > *,
.freeBox__b1OL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b1OL > :global(.__wab_flex-container) > picture > img,
.freeBox__b1OL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__hEc0E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__wgmSy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-KNdRHYv5_nkI);
  flex-shrink: 0;
}
.link___8Yi2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__yixNf {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-KNdRHYv5_nkI);
  flex-shrink: 0;
}
.link__pPrlv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__xjDa1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-KNdRHYv5_nkI);
  flex-shrink: 0;
}
.freeBox__jF2Mo {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__jF2Mo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jF2Mo > :global(.__wab_flex-container) > *,
.freeBox__jF2Mo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jF2Mo > :global(.__wab_flex-container) > picture > img,
.freeBox__jF2Mo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jF2Mo {
    padding-top: 0px;
  }
}
.h3___5Xl2S {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-KNdRHYv5_nkI);
}
.link__zSd6V {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__zSd6V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__zSd6V > :global(.__wab_flex-container) > *,
.link__zSd6V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__zSd6V > :global(.__wab_flex-container) > picture > img,
.link__zSd6V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___6ITy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__wtylC {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-KNdRHYv5_nkI);
  line-height: 26px;
  height: auto;
}
.svg__i90C5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__v2Q5A {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__v2Q5A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__v2Q5A > :global(.__wab_flex-container) > *,
.link__v2Q5A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__v2Q5A > :global(.__wab_flex-container) > picture > img,
.link__v2Q5A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__woixN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__wvkkG {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-KNdRHYv5_nkI);
  line-height: 26px;
}
.svg___1A3Tq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__whpeT {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__whpeT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__whpeT > :global(.__wab_flex-container) > *,
.link__whpeT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__whpeT > :global(.__wab_flex-container) > picture > img,
.link__whpeT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xX9Nx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ptTzC {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-KNdRHYv5_nkI);
  line-height: 26px;
}
.svg__uJijb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__eAjL9 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__eAjL9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__eAjL9 > :global(.__wab_flex-container) > *,
.link__eAjL9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eAjL9 > :global(.__wab_flex-container) > picture > img,
.link__eAjL9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xVa9A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__kvi9Y {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-KNdRHYv5_nkI);
  line-height: 26px;
}
.svg___74D7U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__yNwPj {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__yNwPj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yNwPj > :global(.__wab_flex-container) > *,
.freeBox__yNwPj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yNwPj > :global(.__wab_flex-container) > picture > img,
.freeBox__yNwPj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__exraZ {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-KNdRHYv5_nkI);
  text-transform: uppercase;
}
.text__jPrlv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  color: var(--token-KNdRHYv5_nkI);
  text-align: left;
  min-width: 0;
}
.freeBox___4CZnq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox___4CZnq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___4CZnq > :global(.__wab_flex-container) > *,
.freeBox___4CZnq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4CZnq > :global(.__wab_flex-container) > picture > img,
.freeBox___4CZnq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aTpnC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__v4WzD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__vDpKb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__gFnGu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7Co1G {
  color: var(--token-KNdRHYv5_nkI);
}
.svg__qPUQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__l3WrV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 15px 20px;
  border-top: 1px solid #5e5e5e;
}
.freeBox__z83 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__mk5GT {
  position: relative;
  color: var(--token-KNdRHYv5_nkI);
  text-align: center;
  align-self: flex-end;
}
