.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-VqPv_2huKTXf);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__edLTf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__edLTf {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__pxsrS {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pxsrS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__pxsrS > :global(.__wab_flex-container) > *,
.freeBox__pxsrS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pxsrS > :global(.__wab_flex-container) > picture > img,
.freeBox__pxsrS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pxsrS > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(0px - 3px);
    width: calc(100% + 3px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pxsrS > :global(.__wab_flex-container) > *,
  .freeBox__pxsrS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pxsrS > :global(.__wab_flex-container) > picture > img,
  .freeBox__pxsrS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 3px;
    margin-top: 4px;
  }
}
.link__synB {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__synB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__synB > :global(.__wab_flex-container) > *,
.link__synB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__synB > :global(.__wab_flex-container) > picture > img,
.link__synB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___0PCzv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__c7T2 {
  color: var(--token-SEjyJ-FvK4TY);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c7T2 {
    font-size: var(--token-eXZKbP_9r91h);
  }
}
.svg__rE0V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__cFkCg {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__cFkCg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__cFkCg > :global(.__wab_flex-container) > *,
.link__cFkCg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cFkCg > :global(.__wab_flex-container) > picture > img,
.link__cFkCg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__usYmj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qtXNe {
  color: var(--token-SEjyJ-FvK4TY);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qtXNe {
    font-size: var(--token-eXZKbP_9r91h);
  }
}
.svg__xDqHk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__f6CEx {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__f6CEx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__f6CEx > :global(.__wab_flex-container) > *,
.link__f6CEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__f6CEx > :global(.__wab_flex-container) > picture > img,
.link__f6CEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__q14F0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__g9Zz9 {
  color: var(--token-SEjyJ-FvK4TY);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g9Zz9 {
    font-size: var(--token-eXZKbP_9r91h);
  }
}
.svg__uLbjQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__f4K8W {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__f4K8W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__f4K8W > :global(.__wab_flex-container) > *,
.link__f4K8W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__f4K8W > :global(.__wab_flex-container) > picture > img,
.link__f4K8W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___5Vour {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__b8GeW {
  color: var(--token-SEjyJ-FvK4TY);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b8GeW {
    font-size: var(--token-eXZKbP_9r91h);
  }
}
.svg__hScWf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column__te67Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__te67Y {
    justify-content: center;
    align-items: center;
  }
}
.link___9R7CO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img {
  object-fit: cover;
  width: 89px;
  height: 100%;
  filter: none;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.column__uVVtZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__ctpJx {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctpJx {
    align-items: center;
    justify-content: center;
  }
}
.link__wUc5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__rAsOj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-SEjyJ-FvK4TY);
  height: 1em;
  flex-shrink: 0;
}
.link__uQdA9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__wcTO {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-SEjyJ-FvK4TY);
  height: 1em;
  flex-shrink: 0;
}
.link__sDhWk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__jP7E {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-SEjyJ-FvK4TY);
  height: 1em;
  flex-shrink: 0;
}
